<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- CAMERA (QR SCANNER, если уже используешь) -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="Fovix VPN"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- VPN SERVICE (КРИТИЧНО) -->
        <service
            android:name=".vpn.FovixVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="true"
            android:foregroundServiceType="vpn" />

    </application>

</manifest>