<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- VPN CORE -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!-- REQUIRED for VpnService -->
    <uses-permission android:name="android.permission.BIND_VPN_SERVICE"/>

    <application
        android:label="FOVIX"
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- VPN SERVICE (КЛЮЧЕВОЕ) -->
        <service
            android:name=".vpn.FovixVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false" />

    </application>

</manifest>